body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.garis{
    border-bottom: 1px #ccc solid;
}

#isi3{
  border-right: 1px #ccc solid;
}

#isi4{
  border-right: 1px #ccc solid;
}

#wrapper {
  width: 960px;
  margin: auto;
}

#header {
  margin-bottom: 30px;
  padding-top:30px;
  padding-bottom:30px;
}

#logo {
  font-size: 40px;
  text-transform: lowercase;
  color: #ff3300;
}

#menu {
  text-align: right;
  text-transform: lowercase;
  color: #999;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding-top:10px;
  padding-bottom:10px;
}

#menu > a {
  color: #999;
  text-decoration: none;
  margin-left:10px;
  margin-right:10px;
}

#body-row-1 {
  margin-bottom: 15px;
}

#body-row-2 {
  margin-top:20px;
}

#body-row-3 {
  margin-top:20px;
  padding-bottom:20px;
}

#body-row-4 {
  margin-top:20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  width: 300px;
}

.col-2 {
  width: 630px;
}

.col-3 {
  width: 960px;
  border-bottom: 1px #ccc solid;
  padding-bottom:20px;
}

#footer{
  height: 80px;
  background-color:black;
  margin-top: 10px;
}
